@mixin btn{
  padding:$padding-lg;
  border-radius: $base-border-radius*2;
  border: none;
  box-shadow:$base-box-shadow;
  color:$white-color;
  font-size: $font-size-lg;
  display: flex;
  align-items: center;
  justify-content: center;

}
.btn-primary{
@include btn;
background: linear-gradient(170deg, $secondary-color,$primary-color);
}

.btn-secondary{
  @include btn;
  @include dimension(190px,50px);
  background: linear-gradient(170deg, $secondary-color,$primary-color);
}

