.card{
  display:block;
  padding:$base-padding;
  border: $base-border-thickness solid #ddd;
  box-shadow: $base-box-shadow;
  
  
  .card-title{
    font-size:$font-size-lg;
    padding-bottom: $base-padding;
    font-weight: bold;
  }

  .card-body{
    font-size: $base-font-size;
    color: $description-color;
  }
}