@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font-Shrikhand: 'Shrikhand';
$font-Roboto: 'Roboto';

$base-font-size: 0.75rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xlg: $base-font-size * 2;
$font-size-xxlg: $base-font-size * 3;



