@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font-Shrikhand: 'Shrikhand', sans-serif;
$font-Roboto: 'Roboto', sans-serif;

$font-large: 700;
$font-medium:400;