
@mixin make-container($padding-x: $container-padding-x) {
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

@mixin dimension($width:100px, $height:100px){
  width:$width;
  height:$height;
}


@mixin justify-content($center:center){
  display:flex;
  align-items: center;
  justify-content: $center;
 
}

@mixin options-item($width,$height){
  @include justify-content(start);
  gap:$base-gap;
  padding:$base-padding;
  box-shadow:$base-box-shadow;
  border-radius: $base-border-radius;
  @include dimension($width,$height );
}
.opt-item{
  @include options-item(250px,35px);
}


@mixin number($margin:-25px){
  @include justify-content(center);
  background-color: $primary-color;
  color:$white-color;
  border-radius: 50%;
  margin: 0px 0px 0px $margin;
  width: 20px;
  height:20px; 
}






@mixin border($color){
  border: 1px solid $color;
}



@mixin card($width:100%, $height:500px){
  display: block;
  box-shadow:(0px  2px 4px  rgba(0,0,0,0.2));
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 40px;
  overflow: hidden;
  width:$width;
  height:$height;
}

@mixin card-image($width:100%, $height:500px){
  object-fit: cover;
  width:$width;
  height:$height;

}

@mixin margin($margin){
  margin:$margin;
}

@mixin bottom-margin($margin){
  margin: 0px 0px $margin 0px;
}





@mixin breakpoint($size){

  @if $size == small{
    @media(max-width:786px){
      @content;
    }
  }
  @else if $size == medium {
    @media (min-width:786px) and (max-width: 992px){
      @content;
    }
  }
  @else if $size == large{
    @media (min-width:992px){
      @content;
    }

  }
}
